body{
    background-color: lightpink;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
    
header {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color: coral;
}

footer {
    text-align: center;
    font-family: Arial;
    font-size: small;
    color: teal;
}
    
h1 { 
    font-family: fantasy;
    font-size: larger;
    color: coral;
}   
    
    
h2 {
    font-family: fantasy;
    font-size: x-large;
    color: coral;
}
    
h3 {
    font-family: monospace;
    font-size: large;
    color: coral;
}
    
p, ul{
    font-family: Arial;
    font-size: medium;
    color: teal;
}
    
figure {
    text-align: center;
}

nav {
    font-family: Arial;
    font-size: large;
    color: coral;
    text-align: center;
}

a {
    color: darkolivegreen;
}